#config-version=FG120G-7.2.9-FW-build1577-240201:opmode=0:vdom=0:user=admin
config system global
    set admintimeout 10
    set admin-https-redirect enable
    set hostname "fg-golden"
end
config system ntp
    set ntpsync enable
    set type custom
    config ntpserver
        edit 1
            set server "10.10.0.10"
        next
        edit 2
            set server "10.10.0.11"
        next
    end
end
config log syslogd setting
    set status enable
    set server "10.10.0.20"
    set port 514
    set facility local7
    set format default
end
config system snmp sysinfo
    set status enable
    set description "managed by netops"
end
